<table
  style='font-family: Plus Jakarta, sans-serif; background-color: #f3f2ef; border-collapse: collapse; line-height: 100% !important; margin: 0; padding: 0; width: 100% !important;'
  border='0'
  cellspacing='0'
  cellpadding='0'
  align='center'
  bgcolor='#f3f2ef'
>
  <tbody>
    <tr>
      <td>
        <table
          style='border-collapse: collapse; margin: auto; max-width: 635px; min-width: 320px; width: 100%;'
        >
          <tbody>
            <tr>
              <td valign='top'>
                <table
                  style='background-clip: padding-box; border-collapse: collapse; border-radius: 3px; color: #545454; font-family: Plus Jakarta, sans-serif; font-size: 13px; line-height: 20px; margin: 0 auto; width: 100%;'
                  border='0'
                  cellspacing='0'
                  cellpadding='0'
                  align='center'
                >
                  <tbody>
                    <tr>
                      <td valign='top'>
                        <table
                          style='border: none; border-collapse: separate; font-size: 1px; height: 2px; line-height: 3px; width: 100%;'
                          border='0'
                          cellspacing='0'
                          cellpadding='0'
                        >
                          <tbody>
                            <td
                              style='font-family: Plus Jakarta, sans-serif; line-height: 25px; padding: 30px 100px;'
                              bgcolor='white'
                            >
                              <br />
                              <br />
                              <p
                                style='text-align: start; color: #545454; font-size: 14px; font-weight: 800;'
                              >
                                Bun&#259; ziua,</p>
                              <p
                                style='text-align: start; color: #545454; font-size: 14px;'
                              >
                                Face&#539;i click pe buton pentru a reseta
                                parola.
                              </p>
                              <a
                                style='display: block; margin: auto; font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; font-size: 16px; font-weight: 600; border-radius: 5px; width: 250px; height: 45px; text-align: center; line-height: 45px; background: #076ac9;'
                                href='{{resetPasswordUrl}}'
                                target='_blank'
                                rel='noopener'
                              >Reseteaz&#259; parola</a>
                              <p
                                style='text-align: center; margin: 40px 0px 0px 0px;'
                              >
                              </p>
                              <p
                                style='text-align: center; margin: 0; font-size: 14px; padding: 0px 95px; color: #545454;'
                              >
                                ©
                                {{year}}</p>
                            </td>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>